.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
.logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  vertical-align: middle;
  margin-left: 15px;
}


.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  transition: color 0.2s;
  font-size: large;
}

.nav a:hover {
  color: #e7c623; 
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .logo {
    margin-bottom: 0.5rem;
  }
}
